.modak-regular {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .yatra-one-regular {
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
  
 .heading{
    background-image: url(/img/woodenboard.jpg);
}

body{
    background-image: url(/img/Black_Wood_Background.png);
} 
.col{
    border:2px solid rgb(0, 0, 0);
}

h1, h2{
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(255, 0, 0)
}

p, .text{
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(225, 0, 255)
}